.git
.github
.venv
**/.venv
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/bin
**/obj
**/TestResults
**/dist
deploy/production/production.env
deploy/production/secrets/*
!deploy/production/secrets/.gitignore
*.user
*.suo
